* {
    box-sizing: border-box;
}

:root {
    --bg-clr: '255,255,255';
    --bg-fill: '0%';
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(var(--bg-clr), 0.3);
}

.click-and-hold {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 15rem;
    height: 15rem;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

.click-and-hold:hover {
    background-color: rgb(var(--bg-clr), 0.4);
} 

.click-and-hold[data-active-hold] {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.5);
}

.click-and-hold::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 0;
    border-radius: 4px;
    background-color: rgb(var(--bg-clr));
    padding-left: 0%;
}

.click-and-hold.transition[data-active-hold]::before {
    transition: padding-left var(--duration) linear;
    padding-left: 100%;
}

.click-and-hold.animation-frame[data-active-hold]::before {
    padding-left: var(--bg-fill);
}

p {
    text-align: center;
    font-size: 2rem;
}