body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(var(--bg-clr));
}

.click-and-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    padding: 1em;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    background-color: rgb(var(--bg-clr));
    cursor: pointer;
}

.click-and-hold:hover {
    background-color: rgb(221, 241, 241);
} 

.click-and-hold[data-click-and-hold][data-active-hold] {
    transition: background-color var(--duration) linear;
    position: relative;
    top: 2px;
    background-color: rgb(var(--bg-next-clr));
}
